/*Custom Body Modifications*/
/**********************************************/
body {
	font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
	text-align: center;
	color: #960404;
	background: linear-gradient(to bottom, white 1%, transparent),
				url('../images/StreetViewPic-min.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}

.container {
	max-width: 1000px;
	height: auto;

}

ul {
	list-style: none;
}

/*Sponsor Image Banner*/
/**********************************************/

#container2 {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0 auto 50px auto;
    background: rgba(208, 211, 250, 0.7);
    border-radius: 5px;
}

h1 {
  background: rgba(212, 255, 207, 0.7);
  padding: 2% 0 2% 0;
  border-radius: 5px;
  margin-bottom: 0;
}

.photobanner {
    width: 300%;
    height: 150%;
}

.photobanner img {
	width: 5%;
	height: auto;
	border-radius: 5px;
  margin: 1% 0 1% 0;
}

.photobanner img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
 
.photobanner img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
 
    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

/*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}*/

/*keyframe animations*/
.first {
    -webkit-animation: bannermove 30s linear infinite;
       -moz-animation: bannermove 30s linear infinite;
        -ms-animation: bannermove 30s linear infinite;
         -o-animation: bannermove 30s linear infinite;
            animation: bannermove 30s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    /*margin-left: -3125px;*/
    margin-left: -135%;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   /*margin-left: -3125px;*/
   margin-left: -135%;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   /*margin-left: -3125px;*/
   margin-left: -135%;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   /*margin-left: -3125px;*/
   margin-left: -135%;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   /*margin-left: -3125px;*/
   margin-left: -135%;
 }
} 




/**********************************************/
.copyright {
	font-size: 1.5em;
	margin: 5px;
}
/**********************************************/


/*Custom Override: Navbar Styling*/
/**********************************************/
.navbar-default {
	background-image: none;
	background-color: transparent;
	border:none;
	font-size: 1.5em;
	box-shadow: none;
}


.navbar-default .navbar-nav>li>a {
	color: #960404;
}
/**********************************************/



/*Custom Override: Toggle and Collapsed Menu Icon*/
/**********************************************/
.navbar-toggle {
	float: left;
}

.navbar-default .navbar-toggle {
  border-color: #960404;
  border-width: 10px;
  background-color: #960404;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 44px;
  height: 4px;
  border-radius: 1px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
  background-color: #960404;
}


.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus{
	background-color: #eee;
	border-color: #fff;
}
/**********************************************/



/*Social Media Icon Styling*/
/**********************************************/
.social-icons img {
  width: 50%;
  height: auto;
}
/**********************************************/



/*Custom Override: Media Query Adjustments*/
/**********************************************/
/*Resizing Main Image for device sizes <480px wide*/
@media (max-width: 480px) {
	.main-img {
		width: 50%;
		text-align: center;
	}

	video {
		width: 75%;
		height: auto;
	}


}

/*Resizing Main Image for devices > 480px < 768px*/
@media (min-width: 480px) and (max-width: 768px) {
	.main-img {
		width: 50%;
		text-align: center;
	}

	video {
		width: 75%;
		height: auto;
	}


}
/**********************************************/



/*Overriding Bootstrap: This centers the Navbar when not in collapsed mode*/
/*Resizing Main Image for devices > 768px wide*/

@media (min-width: 768px) and (max-width: 992px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar-default {
	font-size: 1.25em;
	}


    .navbar .navbar-collapse {
        text-align: center;
    }

    .main-img {
	width: 25%;
	text-align: center;
	}

	video {
		width: 50%;
		height: auto;
	}


}

@media (min-width: 992px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar-default {
	font-size: 1.5em;
	}


    .navbar .navbar-collapse {
        text-align: center;
    }

    .main-img {
	width: 25%;
	text-align: center;
	}

	video {
		width: 50%;
		height: auto;
	}


}
