* {
	margin: 0;
	padding: 0;
}

#body-style {
	color: #960404;
	font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
	line-height: 1.5;
	font-size: 1.25em;
	font-style: bold;
	text-align: center;
}

header {
	background-color: transparent;
	padding: 0;
	margin: 2% 0 0 0;
}

.header-image {
	max-width: 25%;
	border: 10px solid;
	border-radius: 100%;
}

.event-date {
	font-size: 3rem;
	letter-spacing: 0.065em;
	padding: 0 0 2% 0;
	color: #050727;
	float: none;
	width: 100%;
}

.top-content {
	margin: auto;
	width: 100%;
	/*height: 100%;*/
	background: linear-gradient(to bottom, white 1%, transparent),
				url('images/StreetViewPic.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/*clear: both;*/
}

video {
	border: 10px;
	border-radius: 10px;
	width: 50%;
	height: 50%;
	margin: 5%;
	display: inline-block;
}

.frame {
	background-color: rgba(0,0,0,0.5);
	border: 10px;
	border-radius: 10px;
	border-color: rgba(0,0,0,0.5);
	width: 50%;
	height: 50%;
}

.frame-text {
	color: #960404;
	font-family: sans-serif;
	line-height: 1.5;
	font-size: 1.25em;
	font-style: bold;
	text-align: center;
}

.social-icons li {
	list-style-type: none;
	list-style-position: inside;
	padding: 2%;
	display: inline;
	border: none;
}

.icons
{
	width: 5%;
}

#nav-links {
	/*margin: 0 5% 0 0;*/
	padding-bottom: 5%;
}

#overlay {
	background: rgba(0,0,0,0.7);
	/*background-position: center;*/
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;

}

a:link {
	color: #050727;
	text-shadow: 2px 2px 20px #d0d3fa;
	font-size: 1.5em;
	padding: 10px 10px;
	text-decoration: none;
}

a:visited {
	color: #960404;
	text-decoration: none;
}

#footer-style {
	background-color: transparent;
	margin: 1% 0 0 0;
}

